<h2> Canada </h2>

<div>
   <p>Click on this link <a href="https://twitter.com/CitImmCanada?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="text-decoration: underline;">IRCC Twitter homepage </a> to get up to date information on the
      status </p>
</div><br>
<p> There are many different types of visas to apply for when thinking about travelling or imigrating 
    to Canada. These are listed below: </p> 
<%= render partial: 'visas/iec' %>