<h1>Your Visa Application Checklist</h1><br>

<p>Here you can select the ones that apply to you in regards to your visa application.</p><br>

<div class="container">
    <form action="">
    <input type="checkbox" id="visa1" name="visa1" value="Apply">
    <label for="visa1" data-autosave-url="http://localhost:3000/save-item"> Apply for invitation</label><br><br>
    <input type="checkbox" id="visa2" name="visa2" value="Accept">
    <label for="visa2" data-autosave-url="http://localhost:3000/save-item"> Accept Invitation</label><br><br>
    <input type="checkbox" id="visadoc1" name="visadoc1" value="Passport">
    <label for="visadoc1" data-autosave-url="http://localhost:3000/save-item"> Passport</label><br><br>
    <input type="checkbox" id="visadoc2" name="visadoc2" value="NID">
    <label for="visadoc2" data-autosave-url="http://localhost:3000/save-item"> National Identity document</label><br><br>
    <input type="checkbox" id="visadoc3" name="visadoc3" value="PC">
    <label for="visadoc3" data-autosave-url="http://localhost:3000/save-item">Police Certificate</label><br><br>
    <input type="checkbox" id="visadoc4" name="visadoc4" value="CV">
    <label for="visadoc4" data-autosave-url="http://localhost:3000/save-item">Curriculum Vitae both Irish and Canadian formats</label><br><br>
    <input type="checkbox" id="visadoc5" name="visadoc5" value="FF">
    <label for="visadoc5" data-autosave-url="http://localhost:3000">Family Information Form: IMM 5707</label><br><br>
    <input type="checkbox" id="visa5" name="visa5" value="Bio">
    <label for="visa5" data-autosave-url="http://localhost:3000/save-item">Apply for biomentrics appointment</label><br><br>
    <input type="checkbox" id="visa3" name="visa3" value="EL">
    <label for="visa3" data-autosave-url="http://localhost:3000/save-item">Receieve acceptance letter from country of application</label><br><br>
    <input type="checkbox" id="visa4" name="visa4" value="Funds">
    <label for="visadoc5" data-autosave-url="http://localhost:3000/save-item">Save up for the necessary funds needed</label><br><br>
    <input type="submit" value="Save Checklist">
    <div class=autosave-message></div>
    </form>
</div>

<script src="main.js">
    var 
</script>