<p style="color: #ffffff"><%= notice %></p>

<h1 class="heading">Welcome to Travel: A Helpful Guide on Visas</h1>
<h2>Get to know the different types of visas for a country of destination.</h2><br>

<div class="home-container">
  <p class="intro">With the <span style="text-decoration: underline">Travel: A Helpful Guide on Visas</span> application, you can learn about the different visas of a the country that you are considering travelling or emigrating to.</p>
  <p class="intro">If you are a current member, please <span style="text-decoration: underline">log in</span> to your account via "Account". If you are a new member, create an account for free using the <span style="text-decoration: underline">sign up</span> option.</p>
  <p class="intro">If you cannot remember your password, you can select "Forgot password" when trying to log in. </p>
</div>