<!-- When the user clicks on the "Documents" link this is what will be shown -->
<!-- Messages appear on screen for the user when they create, edit and delete data from the forms, eg "document was successfully created " -->

<p style=" color: #ffffff"><%= notice %></p>


  <h1 class="heading">Your Documents</h1>

 

  <div id="documents">
    <% @documents.each do |document| %>
      <%# the render is from a partial html created to reduce the amount of coding on the screen %>
      <%= render document %>
      <br>
      <p>
        <%= link_to "Show this document", document, class:"btn btn-light" %>
      </p>
      <hr>
    <% end %>
  </div>

  <%= link_to "New document", new_document_path, class:"btn btn-light" %> 

  
