<p style="#ffffff"><%= notice %></p>

<h1 class="heading">Your Documents</h1>

<div id="documents">
  <% @documents.each do |document| %>
    <%= render document %>
    <br>
    <p>
      <%= link_to "Show this document", document, class:"btn btn-light" %>
    </p>
    <hr>
  <% end %>
</div>


<%= link_to "New document", new_document_path, class:"btn btn-light" %>
