<p style="color: green"><%= notice %></p>

<h1>Travel: A Helpful Guide on Visas Forum</h1>
<br>
<h2>Forum Posts</h2>
<br>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "Create a new post", new_post_path %>
<br>
<a href="/">Return to Home</a>
