

  <h1 class="heading">New Forum Post</h1>
    <div class="forms">
      <%= render "form", post: @post %>
      <br>
      <div>
        <%= link_to "Back to posts", posts_path, class:"btn btn-light" %>
      </div>
    </div>

