<h1 class="heading">Editing checklist</h1>

<% if @checklist.user == current_user %>
  <%= render "form", checklist: @checklist %>

  <br>

  <div>
    <%= link_to "Back to checklists", checklists_path, class:"btn btn-light" %>
  </div>

<% end %>
